+below(699px)
	.main-footer
		display none
	
+between(700px, 1199px)
	.main-footer
		width 100%
		padding 5.14vw 5.71%
		
		&__logo
			display inline-block
			size(20.71vw, 5.71vw)
			margin 0
			margin-right 10.71vw

			background-image url("../images/sprites/logo-sprite-2@1.png")
			background-repeat no-repeat
			background-size 100% auto
			background-position bottom
			
			+retina()
				background-image url("../images/sprites/logo-sprite-2@2.png")

			&:hover,
			&:active
				opacity 0.5
				
		&__social-btn
			display inline-block
			size(25.3vw, 7.286vw)

			margin 0
			margin-top 0.57vw
			
	.copywright 
		display inline-block
		float right
		height 4.28vw
		margin 0
		margin-top 2.14vw

		font-size 2vw
		line-height 4.28vw
		text-align right
		
		&__creator
			display inline-block
			size(3.86vw, 4.28vw)

			margin-left 1.43vw
			margin-right 1.43vw
			margin-bottom -1.42vw

			color transparent
			overflow hidden
			
			&-svg
				size(100%)
				fill pinkColor
			
				&:hover,
				&:active
					fill itemColor
		
		&__customer
			display inline-block
			size(3.86vw, 4.78vw)
			margin-left 1.43vw
			margin-bottom -1.57vw
			
			color transparent
			overflow hidden
			
			&-svg
				size(100%)
				fill pinkColor
			
				&:hover,
				&:active
					fill itemColor
			
	.social-btn__twitter
		display inline-block
		position relative
		size(7.286vw)
		margin-right 1.1vw

		color transparent    
		border 0.43vw solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(2.42vw, 2vw)

			position absolute
			left 50%
			top 50%
			margin-left -1.21vw
			margin-top -1vw
			
			fill pinkColor
	
	.social-btn__facebook
		display inline-block
		position relative
		size(7.286vw)
		margin-right 1.1vw

		color transparent    
		border 0.43vw solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(1.28vw, 2.8vw)

			position absolute
			left 50%
			top 50%
			margin-left -0.64vw
			margin-top -1.4vw
			
			fill pinkColor
	
	.social-btn__youtube
		display inline-block
		position relative
		size(7.286vw)

		color transparent    
		border 3px solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(2.14vw, 2.04vw)

			position absolute
			left 50%
			top 50%
			margin-left -0.9vw
			margin-top -1.02vw

			fill pinkColor

+between(1200px, 1439px)
	.main-footer
		height 13.08333vw
		padding 6vw 10.8333%
		clear both
		
		&__logo
			display inline-block
			size(12.1666vw, 3.333vw)
			margin-right 19.58333vw
			float left

			background-image url("../images/sprites/logo-sprite-3@1.png")
			background-repeat no-repeat
			background-size 100% auto
			background-position bottom
			
			+retina()
				background-image url("../images/sprites/logo-sprite-3@2.png")

			&:hover,
			&:active
				opacity 0.5
				
		&__social-btn
			display inline-block
			size(15vw, 4.25vw)

			padding 0
			float left
			
	.copywright 
		display inline-block
		float right
		height 2.75vw

		font-size 1.5vw
		line-height 2.75vw
		
		&__creator
			display inline-block
			size(2.25vw, 2.5vw)

			margin-left 0.83vw
			margin-right 0.83vw
			margin-bottom -0.83vw
			
			color transparent
			overflow hidden
			
			&-svg
				size(100%)
				fill pinkColor
			
				&:hover,
				&:active
					fill itemColor
		
		&__customer
			display inline-block
			size(2.25vw, 2.78vw)
			margin-left 0.83vw
			margin-bottom -0.92vw
			
			color transparent
			overflow hidden
			
			&-svg
				size(100%)
				fill pinkColor
			
				&:hover,
				&:active
					fill itemColor
			
	.social-btn__twitter
		display inline-block
		position relative
		size(4.25vw)
		margin-right 4%

		color transparent    
		border 0.25vw solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(1.42vw, 1.18vw)

			position absolute
			left 50%
			top 50%
			margin-left -0.71vw
			margin-top -0.59vw

			fill pinkColor
			
	.social-btn__facebook
		display inline-block
		position relative
		size(4.25vw)
		margin-right 4%

		color transparent    
		border 0.25vw solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(0.75vw, 1.63vw)

			position absolute
			left 50%
			top 50%
			margin-left -0.375vw
			margin-top -0.815vw

			fill pinkColor
	
	.social-btn__youtube
		display inline-block
		position relative
		size(4.25vw)

		color transparent    
		border 0.25vw solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(1.25vw, 1.19vw)

			position absolute
			left 50%
			top 50%
			margin-left -0.5vw
			margin-top -0.595vw

			fill pinkColor
	
+above(1440px)
	.main-footer
		height 188px
		padding 86px 17.36111%
		clear both
		
		&__logo
			display inline-block
			size(175px, 48px)
			margin-right 282px
			float left

			background-image url("../images/sprites/logo-sprite-3@1.png")
			background-repeat no-repeat
			background-size 100% auto
			background-position bottom
			
			+retina()
				background-image url("../images/sprites/logo-sprite-3@2.png")

			&:hover,
			&:active
				opacity 0.5
				
		&__social-btn
			display inline-block
			size(216px, 61.2px)

			padding 0
			float left
			
	.copywright 
		display inline-block
		float right
		height 39.6px

		font-size 21.6px
		line-height 39.6px
		
		&__creator
			display inline-block
			size(32.4px, 36px)

			margin-left 12px
			margin-right 12px
			margin-bottom -12px

			color transparent
			overflow hidden
			
			&-svg
				size(100%)
				fill pinkColor
			
				&:hover,
				&:active
					fill itemColor
		
		&__customer
			display inline-block
			size(32.4px, 40px)
			margin-left 12px
			margin-bottom -13.3px
			
			color transparent
			overflow hidden
			
			&-svg
				size(100%)
				fill pinkColor
			
				&:hover,
				&:active
					fill itemColor
			
	.social-btn__twitter
		display inline-block
		position relative
		size(61.2px)
		margin-right 4%

		color transparent    
		border 3.6px solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(20.4px, 17px)

			position absolute
			left 50%
			top 50%
			margin-left -10.2px
			margin-top -8.5px

			fill pinkColor
	
	.social-btn__facebook
		display inline-block
		position relative
		size(61.2px)
		margin-right 4%

		color transparent    
		border 3.6px solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(10.8px, 23.5px)

			position absolute
			left 50%
			top 50%
			margin-left -5.4px
			margin-top -11.75px

			fill pinkColor
	
	.social-btn__youtube
		display inline-block
		position relative
		size(61.2px)

		color transparent    
		border 3.6px solid #f2f2f2
		border-radius 50%

		overflow hidden

		&:hover
			border-color itemColor

		&:active
			border-color #f2f2f2
			opacity 0.3

		&-svg
			display block
			size(18px, 17.1px)

			position absolute
			left 50%
			top 50%
			margin-left -9px
			margin-top -8.55px

			fill pinkColor