+below(699px)
	.contacts
		position relative
		size(100%, 130vw)
		padding-top 15vw
		
		text-align center
		font-size 5.625vw
		line-height 5.625vw
		font-weight 300

		z-index 3
		
		&__headline
			width 73.44vw
			margin 0 auto
			margin-bottom 12.19vw

			text-align center
			font-size 7.5vw
			line-height 9.06vw
			font-weight 300
		
		&__label
			display block
			margin-bottom 2.19vw
			font-weight 700
		
		&__link
			display block

			font-size 7.5vw
			line-height 7.5vw
			color #d22856
			text-decoration none

			&:hover
				color itemColor
				text-decoration underline

			&:active
				text-decoration none
				opacity 0.5
				
		&__tel
			display inline-block
			width 100%
			margin-bottom 8.125vw

			vertical-align top
			
		&__address
			display inline-block
			width 100%

			position absolute
			bottom 15.5vw

			vertical-align top
			
		&__email
			display inline-block
			width 100%
			margin-bottom 46vw

			vertical-align top
			
		&__map
			height 62.5vw
			position relative

			background-color rgba(0,0,0,0.5)
			z-index 1
			
			&:before
				content ''
				display block
				width 0
				height 0
				margin 0 auto

				position absolute
				top -1px
				left 0.5vw

				border-top 10.31vw solid #fff
				border-left 48.5vw solid transparent
				border-right 48.5vw solid transparent
				
				z-index 1
			
		&__iframe
			width 100%
			height 62.5vw

			&:before
				content ''
				display block
				width 0
				height 0
				margin 0 auto

				position absolute
				top -1px
				left 0.5vw

				border-top 10.31vw solid #fff
				border-left 48.5vw solid transparent
				border-right 48.5vw solid transparent
			
+between(700px, 1199px)
	.contacts
		position relative
		size(100%, 111.29vw)
		padding-top 7.29vw
		
		text-align center
		font-weight 700
		font-size 2.57vw
		line-height 2.57vw

		z-index 3
		
		&__headline
			width 53vw
			margin 0 auto
			margin-bottom 6.29vw

			text-align center
			font-size 5.625vw
			line-height 6.86vw
			font-weight 300
		
		&__label
			display block
			margin-bottom 1.71vw
			font-weight 700
		
		&__link
			display block

			font-size 3.43vw
			line-height 3.43vw
			color #d22856
			text-decoration none

			&:hover
				color itemColor
				text-decoration underline

			&:active
				text-decoration none
				opacity 0.5
				
		&__tel
			display inline-block
			width 27.14vw
			margin-left 0vw
			margin-right   19.57vw

			vertical-align top
			
		&__address
			display inline-block
			width 44vw
			margin-left -22vw
			margin-top 14.86vw

			position absolute
			left 50%

			vertical-align top
			
		&__email
			display inline-block
			width 26.57vw   
			margin-bottom 22.29vw

			vertical-align top
			
		&__map
			size(100%, 54vw)
			position relative

			background-color rgba(0,0,0,0.5)
			z-index 1
			clear both
			
			&:before
				content ''
				display block
				width 0
				height 0
				margin 0 auto

				position absolute
				top -1px
				left 0.5vw

				border-top 10.31vw solid #fff
				border-left 48.5vw solid transparent
				border-right 48.5vw solid transparent
			
		&__iframe
			width 100%
			size(100%, 54vw)
			
+between(1200px, 1439px)
	.contacts
		position relative
		width 100%
		padding-top 5.5vw
		
		text-align center
		font-weight 700
		font-size 1.5vw
		line-height 1.5vw
		
		&__headline
			width 40%
			margin 0 auto
			margin-bottom 5vw

			text-align center
			font-size 4.1666vw
			line-height 5vw
			font-weight 300
		
		&__label
			display block
			margin-bottom 2vw
			font-weight 700
		
		&__link
			display block

			font-size 2vw
			font-weight 300
			line-height 2.41666vw
			color #d22856
			text-decoration none

			&:hover
				color itemColor
				text-decoration underline

			&:active
				text-decoration none
				opacity 0.5
				
		&__tel
			display inline-block
			width 15.8333vw
			margin-right 7.5vw

			vertical-align top
			
		&__address
			display inline-block
			width 22.5vw
			margin-right 7.5vw

			vertical-align top
			
		&__email
			display inline-block
			width 15.8333vw

			vertical-align top
			
		&__map
			height 43.41666vw
			position relative

			background-color rgba(0,0,0,0.5)
			z-index 1
			
			&:before
				content ''
				display block
				size(0)
				margin-left 1vw

				position absolute
				top -1px

				border-top 10.25vw solid #fff
				border-left 49vw solid transparent
				border-right 49vw solid transparent
				
				z-index 3
			
		&__iframe
			size(100%, 43.41666vw)
			
+above(1440px)
	.contacts
		position relative
		width 100%
		padding-top 79px
		
		text-align center
		font-weight 700
		font-size 22px
		line-height 22px
		
		overflow hidden
		
		&:after
			content ''
			display block
			width 100%
			height 4px
			
			position absolute
			bottom 625px
			
			background-color #fff
		
		&__headline
			width 40%
			margin 0 auto
			margin-bottom 72px
			
			font-size 60px
			line-height 72px
			font-weight 300
			text-align center
		
		&__label
			display block
			margin-bottom 29px
			font-weight 700
		
		&__link
			display block

			font-size 29px
			line-height 35px
			color #d22856
			font-weight 300
			text-decoration none

			&:hover
				color itemColor
				text-decoration underline

			&:active
				text-decoration none
				opacity 0.5
				
		&__tel
			display inline-block
			width 228px
			margin-right 108px

			vertical-align top
			font-weight 700
			font-size 22px
			line-height 22px
			
		&__address
			display inline-block
			width 330px
			margin-right 108px

			vertical-align top
			font-weight 700
			font-size 22px
			line-height 22px
			
		&__email
			display inline-block
			width 228px
			
			font-weight 700
			font-size 22px
			line-height 22px
			
		&__map
			height 625px
			position relative

			background-color rgba(0,0,0,0.5)
			overflow hidden
			
			&:before
				content ''
				display block
				size(0)
				margin-left -49vw

				position absolute
				top -1px
				left 50%

				border-top 123px solid #fff
				border-left 49vw solid transparent
				border-right 49vw solid transparent
				
				z-index 3
			
		&__iframe
			size(100%, 625px)