mixin contacts()
	+b('article').contacts&attributes(attributes)
		h4.contacts__headline Остались вопросы? Свяжитесь с нами!
		div.contacts__tel
			span.contacts__label Звоните:
			a(href="#").contacts__link 8(800) 1000 900
		div.contacts__address
			span.contacts__label Приезжайте в гости:
			a(href="#").contacts__link Санкт-Петербург, Невский проспект, д. 20
		div.contacts__email
			span.contacts__label Пишите:
			a(href="#").contacts__link hello@pinkapp.ru
		div.contacts__map
			<iframe class="contacts__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.7461291855254!2d30.31890831580939!3d59.9363546692453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310f89dee259%3A0x35cdba9c7f3d2206!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sIDIwLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1473361224947" frameborder="0" style="border:0" allowfullscreen></iframe>
