extends /blocks/layout-default/layout-default
include /blocks/main-header/main-header
include /blocks/header-body/header-body
include /blocks/main-footer/main-footer
include /blocks/info/info
include /blocks/effect/effect
include /blocks/review/review
include /blocks/price/price
include /blocks/contacts/contacts

block head
	- var pageTitle = 'Pink';
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700,800&subset=cyrillic" rel="stylesheet")

block content
	+b('header').main-header
		+main-header
		+header-body
		
	+b('main').main-content
		+info
		+effect
		+review
		+price
		+contacts
		
	+main-footer
