<!DOCTYPE html>
html(lang="ru")
head  
  meta(charset="utf-8")
  title PINK   
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700,800&subset=cyrillic" rel="stylesheet">
  link(rel="stylesheet", href="file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Pink/dist/css/style.css")
  script(src="file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Pink/dist/scripts/jquery-3.1.0.min.js")
body
  header.main-header
    div.header-head
      div.logo
      nav.main-menu
       div.main-menu__btn-burger.main-menu__btn--hide
           <svg version="1.0" id="burger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.945 24.007" enable-background="new 0 0 49.945 24.007" xml:space="preserve" id="burger"> <g id="miu"><g id="editor_list_view_hambuger_menu_glyph"> <g> <path id="path-1" fill="#ffffff" d="M1.137,0C0.51,0,0,0.428,0,1.01v1.981c0,0.558,0.494,1.01,1.138,1.01h47.671 c0.628,0,1.138-0.428,1.138-1.01V1.01c0-0.558-0.494-1.01-1.138-1.01H1.137z M1.137,10.003C0.51,10.003,0,10.431,0,11.013v1.98 c0,0.557,0.494,1.01,1.138,1.01h47.671c0.628,0,1.138-0.428,1.138-1.01v-1.98c0-0.558-0.494-1.01-1.138-1.01H1.137z  M1.137,20.005C0.51,20.005,0,20.434,0,21.016v1.981c0,0.557,0.494,1.01,1.138,1.01h47.671c0.628,0,1.138-0.428,1.138-1.01 v-1.981c0-0.558-0.494-1.011-1.138-1.011H1.137z"/> </g> <g> <path id="path-1_1_" fill="ffffff" d="M1.137,0C0.51,0,0,0.428,0,1.01v1.981c0,0.558,0.494,1.01,1.138,1.01h47.671 c0.628,0,1.138-0.428,1.138-1.01V1.01c0-0.558-0.494-1.01-1.138-1.01H1.137z M1.137,10.003C0.51,10.003,0,10.431,0,11.013v1.98 c0,0.557,0.494,1.01,1.138,1.01h47.671c0.628,0,1.138-0.428,1.138-1.01v-1.98c0-0.558-0.494-1.01-1.138-1.01H1.137z M1.137,20.005C0.51,20.005,0,20.434,0,21.016v1.981c0,0.557,0.494,1.01,1.138,1.01h47.671c0.628,0,1.138-0.428,1.138-1.01 v-1.981c0-0.558-0.494-1.011-1.138-1.011H1.137z"/> </g> </g> </g> </svg>
       div.main-menu__btn-cross.main-menu__btn--hide
           <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="26.752px" height="26.752px" viewBox="0 0 26.752 26.752" xml:space="preserve" id="cross" fill="#ffffff"><path d="M15.497,13.376L26.312,2.562c0.586-0.585,0.586-1.535,0-2.121s-1.535-0.586-2.121,0L13.376,11.255L2.562,0.439 c-0.586-0.586-1.535-0.586-2.121,0c-0.586,0.585-0.586,1.535,0,2.121l10.814,10.815L0.439,24.19c-0.586,0.586-0.586,1.535,0,2.121 c0.293,0.293,0.677,0.439,1.061,0.439s0.768-0.146,1.061-0.439l10.815-10.814L24.19,26.312c0.293,0.293,0.677,0.439,1.061,0.439 s0.768-0.146,1.061-0.439c0.586-0.586,0.586-1.535,0-2.121L15.497,13.376z"/> </svg>
       ul
         li.main-menu__item.menu__item-hide Информация
         li.main-menu__item.menu__item-hide Возможности
         li.main-menu__item.menu__item-hide Отзывы
         li.main-menu__item.menu__item-hide Стоимость
    article.header-body
      div.header-body__content
        p.header-body__tagline Взгляните на жизнь иначе!
        button.header-body__btn(value="Скачать приложение") Скачать приложение
        div.header-body__social-btn
          a(href="#", class="btn-apple")
          a(href="#", class="btn-android")
          a(href="#", class="btn-windows")
        smal.header-body__note Доступно для iPhone, iPad, Android, Windows phone, Mac OS, Windows 8
        
  main.main-content
      article.info
        h3.info__headline Устали от серости мегаполиса?
        span.info__subheadline Нам есть, что вам предлжить!
        div.info-columns
          div.info__column1
            picture.info-img1
              img(src="", alt="")
            h4.column__headline Поднимает настроение
            p.column__paragraph Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
            
          div.info__column2
            picture.info-img2
              img(src="", alt="")
            h4.column__headline Меняет мир вокруг
            p.column__paragraph Сделает снимок и украсит его смайликом или текстовой подписью, чтобы усилить эффект
            
          div.info__column3
            picture.info-img3
              img(src="", alt="")
            h4.column__headline Заводит новых друзей
            p.column__paragraph Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
        
        div.effect
          div.effect__diagram
            <svg version="1.0" id="timer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 260.644 301.835" enable-background="new 0 0 260.644 301.835" xml:space="preserve">
            <g> <path d="M256.317,138.176c-4.76-18.067-13.292-34.604-24.729-48.707l7.494-7.49c5.312-5.314,5.312-13.931,0-19.241 c-2.916-2.921-6.805-4.072-10.609-3.789c-3.144,0.223-6.249,1.396-8.629,3.789l-7.489,7.487                 c-7.944-6.433-16.688-11.854-26.007-16.292c-8.412-3.985-17.275-7.167-26.535-9.332c-0.078-0.014-0.179-0.014-0.271-0.032 c-4.013-0.933-8.052-1.736-12.213-2.286v-6.979v-0.134v-1.143h6.017c9.392,0,17.009-7.618,17.009-17.032  c0-9.38-7.617-16.994-17.009-16.994h-6.017h-34.015h-7.052c-1.499,0-2.936,0.253-4.339,0.609c0,0-0.008,0.025-0.017,0.025  c-7.282,1.926-12.65,8.497-12.65,16.359c0,9.414,7.618,17.032,17.006,17.032h7.052v8.256   c-43.809,5.715-80.659,33.232-99.584,71.238c-3.778,7.572-6.903,15.521-9.144,23.823C1.614,148.238,0,159.669,0,171.507                c0,56.342,35.818,104.221,85.912,122.402c13.882,5.016,28.796,7.926,44.408,7.926c6.503,0,12.889-0.489,19.112-1.429                 c0.667-0.084,1.299-0.281,1.97-0.394c18.337-3.002,35.447-9.771,50.375-19.585c20.617-13.554,37.065-32.768,47.302-55.442 c7.367-16.356,11.564-34.396,11.564-53.479C260.644,159.989,259.135,148.823,256.317,138.176z M198.409,239.602 c-12.415,12.411-27.622,20.884-44.204,25.133c-5.686,1.422-11.595,2.194-17.552,2.594c-0.85,0.053-1.645,0.201-2.488,0.211 c-1.29,0.063-2.551,0.261-3.845,0.261c-3.537,0-7.053-0.228-10.525-0.603c-21.743-2.358-41.883-11.903-57.572-27.596 c-18.188-18.187-28.214-42.38-28.214-68.095c0-2.036,0.174-4.021,0.292-6.032c1.452-23.453,11.165-45.325,27.922-62.071 c2.084-2.075,4.265-4.021,6.491-5.892l0.014-0.013c17.273-14.413,38.815-22.303,61.593-22.303c4.161,0,8.256,0.285,12.29,0.812                c12.648,1.638,24.705,5.749,35.635,12.034c0.119,0.072,0.25,0.162,0.358,0.244c7.128,4.15,13.816,9.138,19.806,15.116 c1.407,1.417,2.684,2.916,3.979,4.4c0.047,0.046,0.09,0.104,0.146,0.16c2.646,3.015,5.011,6.248,7.252,9.523 c1.426,2.136,2.855,4.28,4.106,6.499c7.736,13.513,12.114,28.733,12.582,44.668c0.034,0.952,0.134,1.878,0.134,2.853 C226.608,197.222,216.599,221.415,198.409,239.602z"/>
            </g>
            </svg>
            p 24
          div.effect__description
            h4.effect__headline Эффект на 24 часа!
            p.effect__paragraph Британские ученые провели исследование и доказали, что положительный эффект от использования приложения длится целые сутки!
            a(href="#").effect__link Узнать больше об исследовании
        
      article.review
        button.review-prew
        ul.reviews-list
          li.review__item.review__item-hide
            p.review__recall Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptatem qui dolorum quis reiciendis quidem facilis esse accusamus molestias distinctio nam aliquam nemo error eos debitis fuga, ducimus necessitatibus omnis.
            span.review__author Михаил Иванов
            span.review__author-info 28 лет, слесарь
          li.review__item
             p.review__recall Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомилась со своей будущей женой в комментариях к выложенной фотографии!
             span.review__author Николай Петров
             span.review__author-info 25 лет, водитель трамвая
          li.review__item.review__item-hide
             p.review__recall  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eos eum aspernatur ipsum esse placeat delectus provident, deleniti voluptas consequatur, amet assumenda blanditiis, ullam! Ea nobis quisquam animi magni sequi.
             span.review__author Анна Орлова
             span.review__author-info 23 года, дизайнер
        button.review-next
        div.review__toggle          
          input(type="radio", name="toogle", value="review1", id="review1")
          label(for="review1")          
          input(type="radio", name="toogle", value="review2", checked, id="review2")
          label(for="review2")          
          input(type="radio", name="toogle", value="review3", id="review3")
          label(for="review3")
        
      article.price
        table.price-table
          tr.price-table__headline
            th.invisible-cell
            th База
                span 1,99 USD
            th.hit Стандарт
              span 3,99 USD
            th Анлим
              span 9,99 USD
          tr.price-table__row
            td Розовый фильтр
            td.price-table__cell--check
            td.price-table__cell--check
            td.price-table__cell--check
          tr.price-table__row
            td Смайлики
            td.price-table__cell--cross
            td.price-table__cell--check
            td.price-table__cell--check
          tr.price-table__row
            td Комментарии
            td.price-table__cell--cross
            td.price-table__cell--cross
            td.price-table__cell--check
        div.price__toggle          
          input(type="radio", name="toogle", value="row1", id="row1")
          label(for="row1")          
          input(type="radio", name="toogle", value="row2", checked, id="row2")
          label(for="row2")          
          input(type="radio", name="toogle", value="row3", id="row3")
          label(for="row3")
      
      article.contacts
        h4.contacts__headline Остались вопросы? Свяжитесь с нами!
        div.contacts__tel
          span Звоните:
          a(href="#") 8(800) 1000 900
        div.contacts__address
          span Приезжайте в гости:
          a(href="#") Санкт-Петербург, Невский проспект, д. 20
        div.contacts__email
          span Пишите:
          a(href="#") hello@pinkapp.ru
        div.contacts__map
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.7461291855254!2d30.31890831580939!3d59.9363546692453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310f89dee259%3A0x35cdba9c7f3d2206!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sIDIwLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1473361224947" frameborder="0" style="border:0" allowfullscreen></iframe>
      
  footer.main-footer
        div.logo--footer
        div.social-btn
          div.container
            a(href="#").social-btn__twitter Twitter
            a(href="#").social-btn__facebook Facebook
            a(href="#").social-btn__youtube YouTube
        div.copywright 
            span Website by <a href="#" class="copywright__creator">a</a> for <a href="#" class="copywright__customer"> HTMLAcademy</a>
  script(src="file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Pink/dist/scripts/script.js")
  