mixin info()
	+b('article').info&attributes(attributes)
		h3.info__headline Устали от серости мегаполиса?
			span.info__subheadline Нам есть, что вам предлжить!
		div.info-columns
			div.info__column1
				img(src="assets/images/iphone-screen-3-1@1x.png" alt="Поднимает настроение" srcset='assets/images/iphone-screen-3-1@2x.png 1.5x').column__img
				h4.column__headline Поднимает настроение
				p.column__paragraph Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
				
			div.info__column2
				img(src="assets/images/iphone-screen-3-2@1x.png" alt="Меняет мир" srcset='assets/images/iphone-screen-3-2@2x.png 1.5x').column__img
				h4.column__headline Меняет мир вокруг
				p.column__paragraph Сделает снимок и украсит его смайликом или текстовой подписью, чтобы усилить эффект
				
			div.info__column3
				img(src="assets/images/iphone-screen-3-3@1x.png" alt="Заводит новых друзей" srcset='assets/images/iphone-screen-3-3@2x.png 1.5x').column__img
				h4.column__headline Заводит новых друзей
				p.column__paragraph Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
