+below(699px)
	.info
		width 100%
		padding-top 13.75vw

		&__headline
			width 70%
			margin 0 auto
			margin-bottom 10.625vw

			text-align center
			font-size 7.5vw
			line-height 8.75vw
			font-weight 300

		&__subheadline
			display block
			width 90%
			margin 0 auto
			margin-top 10vw
			margin-bottom 9.1vw

			text-align center
			font-size 7.5vw
			line-height 8.75vw
			font-weight 300

		&-columns
			position relative
			clear both
			width 100%
			height 240vw
			margin-bottom 0
			padding 0 8.44%

			background-color grayColor

			font-size 4.375vw
			line-height 7.5vw
			font-weight normal
			text-align center

			z-index 3

			&:after
				content ""
				display block
				width 0
				height 0

				position absolute
				top 0
				left 0

				border-top 33px solid #fff
				border-left 48.5vw solid #fff
				border-right 48.5vw solid transparent
				border-bottom 33px solid transparent

				z-index 1

			&:before
				content ""
				display block
				width 55.71%
				height 86.875vw

				position absolute
				left 50%
				bottom 0
				margin-left -27.855%

				background-image url("../images/screen-1-3.png")
				background-repeat no-repeat
				background-position center
				background-size contain

		&__column1 
			width 100% 
			margin-bottom 10.31vw
			padding-top 26.56vw

			text-align center
			z-index 3

		&__column2 
			width 100%
			margin-bottom 10.31vw

		&__column3 
			width 100%
			margin-bottom 98.75vw

	.column__headline
		margin-bottom 10px

		font-weight 700
		line-height 7.5vw
		font-size 5.625vw
		color #000

	.column__img
		display none
+between(700px, 1199px)
	.info
		width 100%
		padding-top 7.71vw

		&__headline
			width 100%
			margin 0 auto

			text-align center
			font-size 5.71vw
			line-height 6.86vw
			font-weight 300

		&__subheadline 
			display block
			width 54.8%
			margin 0 auto
			margin-bottom 6.43vw

			text-align center
			font-size 5.71vw
			line-height 6.86vw
			font-weight 300

		&-columns
			position relative
			height 68.71vw
			width 100%

			padding 0 5.71%
			margin-bottom 8.14vw

			font-size 2vw
			line-height 3.43vw
			font-weight normal

			clear both
			background-color grayColor
			z-index 3

			&:after
				content ""
				display block
				width 0
				height 0

				position absolute
				top 0
				left 0

				border-top 3.5vw solid #fff
				border-left 48.5vw solid #fff
				border-right 48.5vw solid transparent
				border-bottom 3.5vw solid transparent

				z-index 1

			&:before
				content ''
				display block
				height 68.71vw
				width 43.23%

				float left
				position relative
				top 1.5vw

				background-image url("../images/screen-1-3.png")
				background-position center
				background-size 100%
				background-repeat no-repeat

				z-index 3

		&__column1
			float right
			width 44.3vw

			margin-bottom 3vw
			padding-top 10vw

			text-align left
			z-index 3

		&__column2
			float right
			width 44.3vw

			margin-bottom 3vw
			text-align left

		&__column3
			float right
			width 44.3vw
			text-align left

	.column__headline
		margin-bottom 1.43vw
		color #000
		font-weight 700
		line-height 3.43vw
		font-size 2.51vw
		margin-bottom 1vw

	.column__img
		display none
+between(1200px, 1439px)
	.info
		width 100%
		padding-top 5.91666vw

		&__headline
			margin 0 auto

			text-align center
			font-size 4.1666vw
			line-height 4.8333vw
			font-weight 300

		&__subheadline
			display block
			width 35vw
			margin 0 auto
			margin-bottom 5.58333vw

			text-align center
			font-size 4.1666vw
			line-height 4.8333vw
			font-weight 300

		&-columns
			position relative
			width 100%
			height 47.08333vw
			padding 0 13.333vw
			margin 0
			clear both

			background-color grayColor
			font-size 1.5vw
			line-height 2.5vw
			
			&::after
				content ''
				display block
				width 0
				height 0

				position absolute
				top 0
				left 0

				border-top 47.5px solid #fff
				border-left 48.5vw solid #fff
				border-right 48.5vw solid transparent
				border-bottom 47.5px solid transparent

		&__column1
			float left
			width 20vw
			margin-right 6.666vw
			text-align center

		&__column2
			float left
			width 20vw
			text-align center

		&__column3
			float right
			width 20vw
			text-align center

	.column__headline
		margin-bottom 2vw

		color #000
		font-weight 700
		line-height 2.5vw
		font-size 2.5vw
		
	.column__paragraph
		margin 0

	.column__img
		display block
		position relative
		height 25vw
		margin-left -1.7vw
		margin-bottom 4.91666vw
		z-index 3

+above(1440px)
	.info
		width 100%
		padding-top 85px

		&__headline
			margin 0 auto

			text-align center
			font-size 60px
			line-height 70px
			font-weight 300

		&__subheadline
			display block
			width 450px
			margin 0 auto
			margin-bottom 69px

			text-align center
			font-size 60px
			line-height 70px
			font-weight 300

		&-columns
			position relative
			width 100%

			padding 0 19.444%
			margin 0

			clear both
			overflow hidden
			box-sizing border-box

			background-color #f2f2f2
			font-size 18px
			line-height 30px

			&::after
				content ''
				display block
				width 0
				height 0

				position absolute
				top 0
				left 0

				border-top 52px solid #fff
				border-left 48.5vw solid #fff
				border-right 48.5vw solid transparent
				border-bottom 52px solid transparent

		&__column1
			float left
			width 29.5%
			margin-right 5.555%
			text-align center

		&__column2
			float left
			width 29.5%
			text-align center

		&__column3
			float right
			width 29.5%
			text-align center

	.column__headline
		margin-bottom 29px

		color #000
		font-weight 700
		line-height 36px
		font-size 36px
		
	.column__paragraph
		margin 0

	.column__img
		display block
		width 347.5px
		height 360px
		margin-left 10px
		margin-bottom 71px
		position relative
		z-index 3
